<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cestas Básicas do IFTM</title>
</head>
<body>
	<h1>Famílias Não Contempladas</h1>
	<p th:text="'Mês: ' + ${mes}"></p>
	<p th:text="'Ano: ' + ${ano}"></p>
	<hr>
	<div th:each="f, statusLaco : ${familias}">
		<p th:text="'Família ' + ${statusLaco.count}"></p>
		<p th:text="'Família do aluno: ' + ${f.nomeAluno}"></p>
		<p th:text="'Endereço da Família: ' + ${f.endereco}"></p>
		<p th:text="'Contato da Família: ' + ${f.contato}"></p>
	<hr>
	</div>
	
	<a th:href="@{/}">Voltar</a>
	
</body>
</html>