<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Cestas Básicas do IFTM</title>
</head>
<body>
	<h1>Escolher a Família</h1>

	<form method="post" th:action="@{/entrega/nova}">
		<p th:text="'Mês: ' + ${mes}"></p>
		<input type="hidden" name="mes" th:value="${mes}">
		<p th:text="'Ano: ' + ${ano}"></p>
		<input type="hidden" name="ano" th:value="${ano}">
		<p th:text="'Instituição: ' + ${instituicao.nome}"></p>
		<input type="hidden" name="codigo" th:value="${instituicao.codigo}">
		<input type="hidden" name="nome" th:value="${instituicao.nome}">
		<input type="hidden" name="endereco" th:value="${instituicao.endereco}">
		<input type="hidden" name="contato" th:value="${instituicao.contato}">
		<input type="hidden" name="nroCestasBasicasMes" th:value="${instituicao.nroCestasBasicasMes}">
		<input type="hidden" name="limiteSalariosMinimos" th:value="${instituicao.limiteSalariosMinimos}">
		<label for="familia">Família:</label>
		<select name="codigoFamilia" id="familia">
			<option th:each="f : ${familias}" th:value="${f.codigo}" th:text="${f.nomeAluno}"></option>
		</select><br><br>
		<input type="submit" value="Cadastrar Entrega">
	</form>

</body>
</html>